.tc-wrap {
    position: relative;
    float:left;
    width: 100%;
    background-color: #f1f6f9;
}
.menu {
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
    position: relative;
    float:left;
    width: 400px;
    left: 0;
    top: 0;
	z-index: 1;
	box-shadow: 0 0 12px 0 #eee;
	overflow: hidden;
}
.menu .first-classify {
	background-color: #1B0581;
	font-weight:lighter;
	position: relative;
	float:left;
    left: 20px;
    border-top: 1px solid #f1f6f9;
    padding: 0 9px;
    width: 300px;
    height: 190px;
    word-break: break-all;
}

.menu .first-classify .logo{
    left: 18px;
    font-weight:bold;
    width: 300px;
    height: 30px;
}

.menu .first-classify .logo div{
	background-color: #462ad6;
    width: 80px;
}

.menu .first-classify .cc{
	margin-left: 18px;
}

.menu .first-classify .mj{
	text-align:left;
	margin-right:18px;
    height: 30px;
    display: inline-block;
}

.menu .second-classify {
	background-color: #1B0581;
	font-weight:lighter;
	position: relative;
	float:left;
    left: 20px;
    border-top: 1px solid #f1f6f9;
    padding: 0 9px;
    width: 300px;
    height: 160px;
    word-break: break-all;
}

.menu .second-classify .logo{
    left: 18px;
    font-weight:bold;
    width: 300px;
    height: 30px;
}

.menu .second-classify .logo div{
	background-color: #462ad6;
    width: 80px;
}

.menu .second-classify .cc{
	margin-left: 18px;
}

.menu .second-classify .mj{
	text-align:left;
	margin-right:18px;
    height: 30px;
    display: inline-block;
}

.menu-list,
.short-open {
    position: relative;
    width: 100%;
    margin: 10px 0;
}