@charset "utf-8";
/* Css Reset And framework Css Style */
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body{
  	background-color: #FFFFFF;
  	font-size: 12px;
  	font-family: \5FAE\8F6F\96C5\9ED1;  /* 微软雅黑 */
}
ol,ul{
	list-style: none;
}
a{
	text-decoration: none;
}

/*整体框架样式*/
.view-box{
	overflow:hidden;
	min-width:1364px;
}
/*左上角logo切换系统*/
.header{
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #d7e3eb;
	box-shadow: 0 0 14px #d7e3eb;   
	position: relative;
    z-index: 1;
}
.logo{
	position: relative;
	display: inline-block;
	height: 54px;
	float: left;
	cursor: pointer;
}
.logo-panel{
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.logo-icon{
	display: inline-block;
	width: 157px;
	height: 40px;
	background-image: url("../image/all_logo.png");
	background-repeat: no-repeat;
	margin-top: 14px;
}
.logo-icon.tcs{
	background-position:0 -11px;
}
.logo-icon.tdv{
	background-position:0 -51px;
}
.logo-icon.tav{
	background-position:0 -91px;
}
.logo-icon.tools{
	width: 175px;
	background-position:0 -131px;
}
.down-icon{
	display: inline-block;
	width: 7px;
	height: 7px;
	margin:0 0 5px -10px;
	background: url("../image/change_sys_icon.png") no-repeat;
}
.chage-sys{
	width: 156px;
	position: absolute;
    top: 7px;
    left: 184px;
    z-index: 10;
    display: none;
}
.sys-panel{
	position: relative;
	overflow: hidden;
	padding: 15px 0 20px 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 40px #d7e3eb;
}
.sys-item{
	/*margin: 12px 0 12px 34px;*/
	height: 40px;
	line-height: 40px;
	margin-left: 30px;
}
.sys-name{
	color: #374b52;
	font-size: 16px;
}
.sys-name.active , .sys-name:hover{
	color: #0099ff;
}

/*头部右侧用户信息显示*/
.user-box{
	min-width: 78px;
	position: relative;
	float: right;
	margin: 22px 40px 0 0;
	color: #6f87ab;
	cursor: pointer;
}

.user-bg {
	display: none;
	width: 120%;
	position: absolute;
	background-color: #fff;
	top: -5px;
	left: -10px;
	z-index: -1;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0px 4px 10px #d7e3eb;
	padding-left: 10px;
	height:80px;
}
.list{
	margin-top: 40px;
}
.list>li{
	cursor: pointer;
	padding-left: 26px;
	width:52px;
	height: 32px;
	line-height: 32px;
	background: url("../image/password.png") no-repeat;
	background-position: 0px 9px;
}
.list>li:hover{
	color:#0099ff;
}
.top_icon{
	display: inline-block;
	background: url("../image/admin_icon.png") no-repeat;
}
.user-icon{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 10px;
}
.user-name{
	float: left;
	min-width: 36px;
	text-align: left;
}
.user-down{
	float: left;
	margin: 5px 0 0 4px;
	width: 12px;
	height: 8px;
	background:url("../image/drop-down.png") no-repeat;
}
.user-down.up{
	background:url("../image/drop-up.png") no-repeat;
}
.sys-icon{
	width: 11px;
	height:16px;
	position: absolute;
    top: 17px;
    left:-11px;
    z-index: 2;
	background: url("../image/trig.png") no-repeat;
}

/*系统显示区域*/
.main-page{
	position: relative;
	width: 100%;
	background-color: #f1f6f9;
}


/*修改密码*/
.pop-page{
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}
.pop-title{
	display: inline-block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #d6e8f3;
}
.pop-title>a{
	display: inline-block;
	height: 24px;
	font-size: 14px;
	color: #374b52;
	margin: 14px 0 0 40px;
	border-bottom: 2px solid #0099ff;
}
.close-pop{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: url("../image/clear-btn.png") no-repeat;
	background-position: center;
}
.pop-header{
	width: 100%;
	height: 74px;
	border-bottom: 1px solid #f1f6f9;
	position: relative;
	overflow: hidden;
}
.pop-tab{
	height: 34px;
	margin: 40px auto 0;
}
.pop-foot{
	position: absolute;
	width: 100%;
	height: 74px;
	background-color: #fff;
	border-top: 1px solid #d6e8f3;
	line-height: 74px;
	bottom: 0;
}
.pop_btn{
	display: inline-block;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 34px;
	font-size: 14px;
	color: #fff;
	background-color: #0199ff;
	float: right;
	margin: 20px;
	cursor: pointer;
}
.pop_btn:hover{
	background-color: #34aeff;
}

.pop-group{
	position: relative;
	margin: 0 0 20px 70px;
	color: #374B52;
}
.pop-group>em {
	font-style: normal;
	color: #ff6858;
	font-size: 14px;
}
.group-title{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
	margin-right: 10px;
	line-height: 34px;
	color: #374B52;
	font-size: 12px;
	text-align: right;
}
.text-box {
	display: inline-block;
	position: relative;
	border: 1px solid #bddaeb;
	border-radius: 4px;
	width: 420px;
}
.text-box.error {
	border: 1px solid #ff6858;
}
.text-default {
	position: absolute;
	color: #b4c6cc;
	top: -18px;
	right: 0;
}
.text-box.error .text-default{
	color: #ff6858;
}
.text-box.onblue {
	border: 1px solid #0099ff;
}
.group-text{
	display: inline-block;
	width: 400px;
	height: 32px;
	padding: 0 10px;
	line-height: 24px;
	outline: none;
	border: none;
	background: transparent;
}
.overplus-text {
	line-height: 30px;
	color: #b4c6cc;
	display: block;
	position: absolute;
	right: 18px;
	bottom: 0;
}

.com_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-50 {
	margin-top: 50px;
}
.pos-re{position: relative;}
.of-h{overflow: hidden;}
.topRight{
	float:right;
}
.changeSelect{
	float:left;
	color:#6f87ab;
	margin-right:30px;
	position:relative;
	background-repeat:no-repeat;
	padding-right:10px;
	margin-top:8px;
	background-color:#fff;
	cursor:pointer;
	padding-top:6px;
	border-radius:6px 6px 0 0 ;
}

.changeUser{
	background-image:url(../image/icon_32.png);
	background-position:10px 15px;
	padding-left:35px;
	display:none;
}
.changeSelect span{
	background-image:url(../image/drop-down.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:20px;
	display:block;
	line-height:30px
}
.changeSelect div{
	position:absolute;
	left:0;
	top:36px;
	background-color:#fff;
	width:100%;
	box-shadow: 0px 6px 10px #d7e3eb;
	display:none;
	max-height:120px;
	border-radius:0  0 6px 6px;
}
.changeSelect div a{
	display:block;
	padding-left:10px;
	line-height:30px;
	overflow:hidden;
    text-overflow: ellipsis;
}
.userBox{
	background-image:url(../image/icon_33.png);
	background-position:10px 15px;
	padding-left:30px;
}
.changeSelect div a.password{
	background: url("../image/password.png") no-repeat;
	padding-left:30px;
	background-position:10px center;
	
}
.changeSelect.on{
	box-shadow: 0px 4px 10px #d7e3eb;
}
.changeSelect.on div{
	display:block;
}
.changeSelect.on span{
	background-image:url(../image/drop-up.png);
}
.noAuthority{
	background-color:#f1f6f9;
	width:100%;
	position:relative;
}
.noAuthority div{
	width:300px;
	height:30px;
	line-height:30px;
	background-image:url(../image/icon_34.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:30px;
	font-size:16px;
	position:absolute;
	margin-left:-165px;
	margin-top:-15px;
	left:50%;
	top:50%;
}
.noAuthority div span{
	color:#0099ff;
}
.index-pop-foot{
	padding-top: 13px;
	height: 47px;
}


