<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengli.db.mapper.CompanyMapper">
	
	<!-- 查询企业 -->
	<select id="selectCompany" parameterType="map" resultType="map">
		SELECT
			*
		FROM
			company 
		<where>
			<if test="companyName != null and companyName !='' ">
				AND name LIKE CONCAT('%',#{companyName},'%')
			</if>
			<if test="first_classification != null and first_classification !='' ">
				AND first_classification = #{first_classification}
			</if>
			<if test="second_classification != null and second_classification !='' ">
				AND second_classification = #{second_classification}
			</if>
		</where>
	</select>
	
	<!-- 查询没有经纬度的企业 -->
	<select id="selectCompanyNoLongitudeLatitude" parameterType="map" resultType="map">
		SELECT
			*
		FROM
			company
		WHERE
			longitude IS NULL
		OR longitude = ''
		OR latitude IS NULL
		OR latitude = ''
	</select>
	
	<!-- 查询企业分布 -->
	<select id="selectCompanyDistribution" parameterType="map" resultType="map">
		SELECT
			industrial_area.id,
			industrial_area.`name`,
			count(company.id) AS count
		FROM
			industrial_area
		LEFT JOIN company ON industrial_area.id = company.industrial_area
		GROUP BY
			industrial_area.id
	</select>
</mapper>  