<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengli.db.mapper.DesignCompanyMapper">
	
	<!-- 查询设计公司 -->
	<select id="selectDesignCompany" parameterType="map" resultType="map">
		SELECT
			*
		FROM
			design_company 
		<where>
			<if test="designCompanyName != null and designCompanyName !='' ">
				AND name LIKE CONCAT('%',#{designCompanyName},'%')
			</if>
			<if test="first_classification != null and first_classification !='' ">
				AND first_classification = #{first_classification}
			</if>
			<if test="second_classification != null and second_classification !='' ">
				AND second_classification = #{second_classification}
			</if>
		</where>
	</select>
	
	<!-- 查询没有经纬度的设计公司 -->
	<select id="selectDesignCompanyNoLongitudeLatitude" parameterType="map" resultType="map">
		SELECT
			*
		FROM
			design_company
		WHERE
			longitude IS NULL
		OR longitude = ''
		OR latitude IS NULL
		OR latitude = ''
	</select>
	
	<!-- 创建设计公司 -->
	<insert id="insertDesignCompany" parameterType="map">
		INSERT INTO design_company
		(
			id,
			name,
			designer_num,
			receipt_num,
			domain,
			qualifications,
			first_classification,
			second_classification,
			longitude,
			latitude,
			homepage
		)
		VALUES (
			#{id},
			#{name},
			#{designer_num},
			#{receipt_num},
			#{domain},
			#{qualifications},
			#{first_classification},
			#{second_classification},
			#{longitude},
			#{latitude},
			#{homepage}
		)
	</insert>
	
	<!-- 修改设计公司信息 -->
	<update id="updateDesignCompany" parameterType="map">
		UPDATE design_company
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="designer_num != null">
				designer_num = #{designer_num},
			</if>
			<if test="receipt_num != null">
				receipt_num = #{receipt_num},
			</if>
			<if test="domain != null">
				domain = #{domain},
			</if>
			<if test="qualifications != null">
				qualifications = #{qualifications},
			</if>
			<if test="first_classification != null">
				first_classification = #{first_classification},
			</if>
			<if test="second_classification != null">
				second_classification = #{second_classification},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="homepage != null">
				homepage = #{homepage},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 删除设计公司 -->
	<delete id="deleteDesignCompany">
		DELETE
		FROM
			design_company
	</delete>
</mapper>  