<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengli.db.mapper.LectureMapper">
	
	<!-- 查询讲座 -->
	<select id="selectLecture" parameterType="map" resultType="map">
		SELECT
			colleges.id AS cid,
			colleges.`name` AS cname,
			teacher.`name` AS tname,
			lecture.*, colleges.*
		FROM
			lecture
		INNER JOIN colleges ON lecture.colleges = colleges.id
		LEFT JOIN teacher ON lecture.teacher = teacher.id
		WHERE
			lecture.colleges = #{colleges}
	</select>
	
	<!-- 创建讲座 -->
	<insert id="insertLecture" parameterType="map">
		INSERT INTO lecture
		(
			id,
			theme,
			time,
			address,
			colleges,
			teacher,
			course_type,
			course_fee,
			details_page
		)
		VALUES (
			#{id},
			#{theme},
			#{time},
			#{address},
			#{colleges},
			#{teacher},
			#{course_type},
			#{course_fee},
			#{details_page}
		)
	</insert>
	
</mapper>  