<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengli.db.mapper.TeacherMapper">
	
	<!-- 查询讲师 -->
	<select id="selectTeacher" parameterType="map" resultType="map">
		SELECT
			colleges.id AS cid,
			colleges.`name` AS cname,
			teacher.`name` AS tname,
			teacher.*, colleges.*
		FROM
			teacher
		INNER JOIN colleges ON teacher.colleges = colleges.id
		WHERE
			teacher.colleges = #{colleges}
	</select>
	
	<!-- 创建讲师 -->
	<insert id="insertTeacher" parameterType="map">
		INSERT INTO teacher
		(
			id,
			name,
			colleges,
			work_year,
			course_num,
			summary
		)
		VALUES (
			#{id},
			#{name},
			#{colleges},
			#{work_year},
			#{course_num},
			#{summary}
		)
	</insert>
	
</mapper>  